name: Unit Test

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
    
      - name: Install Ansible
        run: |
          pip install ansible

      - name: Run Ansible playbook
        run: |
            ansible-playbook -i ansible/inventories/inventory.yaml ansible/site.yaml

      # - name: Run Ansible playbook
      #   uses: Hugozys/ansible-deploy@master
      #   with:
      #     directory: "./ansible"
      #     playbook: "site.yaml"
            
      - name: Install dependencies
        run: pip install -r web_crud/test/requirements.txt

      - name: Run unit tests
        run: python -m unittest web_crud/test/unit_test.py
